PORT=5050
CLIENT_ORIGIN=http://localhost:5173
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=remy
DB_PASSWORD=your_password_here

JWT_SECRET=peekaboo
JWT_EXPIRES_IN=7d
GOOGLE_CLIENT_ID=your_google_oauth_client_id_here
